.section_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 244px;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    max-width: 776px;
    width: 100%;
    margin-top: 130px;
    min-height: 62.5vh;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--gray-300);

}