.section_container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 776px;
    width: 100%;
    margin-top: 130px;
    min-height: 70vh;
}
.content_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 16px;
    gap: 12px;
    width: 776px;
    //width: 744px;
    max-width: 100%;
    max-height: none;
    height: 74px;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.06);
    border-radius: 8px;
    position: initial;
}

.text{
    color: var(--gray-100);
    width: 776px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: baseline;
}

p{

}

.text_scratched{
    color: var(--gray-300);
    text-decoration: line-through;
    width: 776px;
    font-size: 14px;
    align-items: baseline;

}
input[type="checkbox"] {
    appearance: none;
    margin-left: 20px;
    font: inherit;
    color: var(--blue-dark);
    width: 19px;
    height: 18px;
    border: 2px solid var(--blue-dark);
    border-radius: 16px;
    transform: translateY(0.415em);
    margin-bottom: 15px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 19px;
    border-radius: 50px;
    height: 18px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 2px;
    top: -2px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg);
    color: white;
}

input[type="checkbox"]:hover{
    filter: brightness(1.15);
}

.img{
    width: auto;
    height: 14px;
    padding: 6px;
    margin-right: 18px;
}

.img:hover{
    cursor: pointer;
    background-color: var(--gray-400);
    border-radius: 4px;
}