.section_container{
    background: var(--gray-500);
    height: calc(100vh - 200px);

    display: flex;
    align-items: flex-start;
    justify-content: center;


}

.input_container{
    display: flex;
    gap: 8px;

    margin-top: -30px;
}

.input{
    width: 638px;
    height: 54px;

    color: var(--gray-300);
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 0px 16px;
    border-radius: 8px;
}

.button{
    width: 90px;
    height: 54px;

    background: var(--blue-dark);
    border-radius: 8px;
    border: none;
    color: var(--gray-100);
    cursor: pointer;
}

.button:hover{
    filter: brightness(1.5);
}