.section_container{
    background: var(--gray-600);
    min-height: calc(100vh - 200px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}



.input_container{
    display: flex;
    gap: 8px;
    max-width: 776px;
    width: 90%;
    margin-top: -27px;
    position: relative;
}

.input{
    width: 676px;
    height: 54px;
    max-width: 100%;
    color: var(--gray-300);
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 0px 16px;
    border-radius: 8px;
}

.input:focus{
    filter: brightness(1.25);
}

.input:focus-visible{
    outline: 2px solid var(--purple-dark);
}

.button{
    width: 90px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--blue-dark);
    border-radius: 8px;
    border: none;
    color: var(--gray-100);
    cursor: pointer;
}

.button:hover{
    filter: brightness(1.25);
}

.button:disabled{
    filter: grayscale(100%);
    cursor: not-allowed;
}

.content_header{
    display: flex;
    justify-content: space-between;
    color: white;
    position: absolute;
    margin-top: -564px;
    max-width: 776px;
    width: 90%;
}

.tasks_container{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    margin-top: -90px;
}

.taks_created{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--blue);
}
.tasks_done{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--purple);
}

.span_value{
    padding: 2px 8px;
    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}


